@import "styling/variables.scss";

.listenersOuter,
.upNextSongsOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.listenerBtn,
.upNextBtn {
  font: bold 18px "helvetica neue";
  border-radius: 1em;
  background: $accent;
  color: white;
  padding: 0.7em 1.5em;
  width: 9em;
  outline: 0;
  cursor: pointer;
}

.listenerBtnClicked,
.upNextBtnClicked {
  font: bold 18px "helvetica neue";
  border-radius: 1em;
  background: $accentDark;
  color: white;
  padding: 0.7em 1.5em;
  width: 9em;
  outline: 0;
  cursor: pointer;
}

.listenerBtn:active,
.upNextBtn:active {
  background: $accentDark;
}

.listeners,
.upNextSongs {
  position: absolute;
  width: 180px;
  overflow: auto;
  max-height: 250px;
  bottom: 125px;
  right: -10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.65);
}
