.searchOuter {
  position: relative;
}

.searchInput {
  width: 350px;
  border: none;
  border-bottom: 5px solid white;
  font: bold 80px "helvetica neue", sans-serif;
  background: none;
  color: white;
  outline: none;
}

.searchInput::placeholder {
  color: white;
}
