@import "styling/variables.scss";

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 5px;
  }
  100% {
    opacity: 1;
    height: 100px;
  }
}

#bars {
  margin: auto 150px auto 0px;
  position: relative;
  top: 50px;
  width: 300px;
}

.bar {
  height: 3px;
  width: 10px;
  bottom: 1px;
  height: 3px;
  position: absolute;
  animation: sound 0ms -800ms linear infinite alternate;
  animation-duration: 400ms;
}
.bar:nth-child(1) {
  left: 10px;
  animation-duration: 1200ms;
}
.bar:nth-child(2) {
  left: 20px;
  animation-duration: 407ms;
}
.bar:nth-child(3) {
  left: 30px;
  animation-duration: 1158ms;
}
.bar:nth-child(4) {
  left: 40px;
  animation-duration: 400ms;
}
.bar:nth-child(5) {
  left: 50px;
  animation-duration: 427ms;
}
.bar:nth-child(6) {
  left: 60px;
  animation-duration: 427ms;
}
.bar:nth-child(7) {
  left: 70px;
  animation-duration: 441ms;
}
.bar:nth-child(8) {
  left: 80px;
  animation-duration: 419ms;
}
.bar:nth-child(9) {
  left: 90px;
  animation-duration: 487ms;
}
.bar:nth-child(10) {
  left: 100px;
  animation-duration: 442ms;
}
.bar:nth-child(11) {
  left: 110px;
  animation-duration: 300ms;
}
.bar:nth-child(12) {
  left: 120px;
  animation-duration: 670ms;
}
.bar:nth-child(13) {
  left: 130px;
  animation-duration: 843ms;
}
.bar:nth-child(14) {
  left: 140px;
  animation-duration: 912ms;
}
.bar:nth-child(15) {
  left: 150px;
  animation-duration: 588ms;
}
.bar:nth-child(16) {
  left: 160px;
  animation-duration: 612ms;
}
.bar:nth-child(17) {
  left: 170px;
  animation-duration: 980ms;
}
.bar:nth-child(18) {
  left: 180px;
  animation-duration: 456ms;
}
.bar:nth-child(19) {
  left: 190px;
  animation-duration: 399ms;
}
.bar:nth-child(20) {
  left: 200px;
  animation-duration: 413ms;
}
.bar:nth-child(21) {
  left: 210px;
  animation-duration: 820ms;
}
.bar:nth-child(22) {
  left: 220px;
  animation-duration: 812ms;
}
.bar:nth-child(23) {
  left: 230px;
  animation-duration: 1220ms;
}
.bar:nth-child(24) {
  left: 240px;
  animation-duration: 760ms;
}
.bar:nth-child(25) {
  left: 250px;
  animation-duration: 1560ms;
}
.bar:nth-child(26) {
  left: 260px;
  animation-duration: 718ms;
}
.bar:nth-child(27) {
  left: 270px;
  animation-duration: 901ms;
}
.bar:nth-child(28) {
  left: 280px;
  animation-duration: 1005ms;
}
.bar:nth-child(29) {
  left: 290px;
  animation-duration: 780ms;
}
.bar:nth-child(30) {
  left: 300px;
  animation-duration: 1302ms;
}

.bar:nth-child(3n + 0) {
  background: $anim4;
}

.bar:nth-child(3n + 1) {
  background: $anim5;
}

.bar:nth-child(3n + 2) {
  background: $anim6;
}
