.logoutBtn {
  font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
  background: #436ddf;
  color: white;
  width: 80px;
  height: 30px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  position: absolute;
  top: 5px;
  left: 5px;
}
