@import "styling/variables.scss";

.logout {
  font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
  border-radius: 1.5em;
  background: $accent;
  color: white;
  width: 5em;
  border: 1px solid white;
  outline: 0;
  margin: 10px;
  padding: 1em;
  text-align: center;
}

.logout:active {
  background: $accentDark;
}
