.logoutBtn {
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  background: #436ddf;
  color: white;
  width: 125px;
  height: 50px;
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
}
