.screenTopMain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  border: 2px solid pink;
}

.screenTopBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.screenTopHr {
  color: #fff;
  border: 2px solid white;
  margin: 20px 50px 0 50px;
  position: relative;
}
