@import "styling/variables.scss";

.createButtonForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: $accentDark;
  font: bold 36px "helvetica neue", helvetica, arial, sans-serif;
  border-radius: 4em;
  background: $accentDark;
  color: white;
  width: 6em;
  height: 6em;
  border: 1px solid white;
  outline: 0;
}

.createButtonInput {
  outline: 0;
  border-radius: 5px;
  border: none;
  height: 25px;
  font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
}

.createButtonBtn {
  font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
  border-radius: 4em;
  background: #fff;
  color: #000;
  padding: 0.7em 1.5em;
  width: 9em;
  border: 1px solid white;
  outline: 0;
  cursor: pointer;
}

.createButtonLabel {
  font: bold 24px "helvetica neue", helvetica, arial, sans-serif;
  text-align: center;
}
