@import "styling/variables.scss";

.createButton{
  font: bold 36px "helvetica neue", helvetica, arial, sans-serif;
  border-radius: 4em;
  background: $accent;
  color: white;
  width: 6em;
  height: 6em;
  border: 1px solid white;
  outline: 0;
}

.createButtonClicked {
    font: bold 36px "helvetica neue", helvetica, arial, sans-serif;
    border-radius: 4em;
    background: $accentDark;
    color: white;
    width: 6em;
    height: 6em;
    border: 1px solid white;
    outline: 0;
  }
  