.playlistOuter {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

img.playlist {
  width: 125px;
  height: 125px;
  border: 2px solid white;
  padding: 0px;
  margin: 0px;
}

.name {
  font: 20px arial, "sans-serif";
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
}