.playlistMainGrid {
    display: grid;
    height: 550px;
    width: 95vw;
    overflow: auto;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  .playlistSelected {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }
  