.playlistMainGrid {
  justify-items: center;
  padding: 10px;
  display: grid;
  height: 550px;
  width: 100%;
  overflow: auto;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.playlistSelected {
  display: flex;
  flex-direction: column;
}