.playlistImageOuter {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;

}

img.playlist {
  width: 125px;
  height: 125px;
  border: 2px solid white;
}

.title {
  font: 16px arial, "sans-serif";
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
}