.btn {
    font: bold 12px "helvetica neue";
    border-radius: 4em;
    background: #2e3192;
    color: white;
    padding: 0.7em 1.5em;
    width: 9em;
    outline: 0;
}

.btnClicked {
    font: bold 12px "helvetica neue";
    border-radius: 4em;
    background: #161a94;
    color: white;
    padding: 0.7em 1.5em;
    width: 9em;
    outline: 0;
}