@import "styling/variables.scss";

.surround {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.listenerBtn {
  font: bold 18px "helvetica neue";
  border-radius: 1em;
  background: $accent;
  color: white;
  padding: 0.7em 1.5em;
  width: 9em;
  outline: 0;
  cursor: pointer;
}

.listenerBtnClicked {
  font: bold 18px "helvetica neue";
  border-radius: 1em;
  background: $accentDark;
  color: white;
  padding: 0.7em 1.5em;
  width: 9em;
  outline: 0;
  cursor: pointer;
}

.listenerBtn:active {
  background: $accentDark;
}

.listeners {
  position: absolute;
  width: 180px;
  overflow: auto;
  bottom: 210px;
  right: -10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
}
