.listenerOuter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.listenerImg {
  width: 70px;
  height: 70px;
  border: none;
  border-right: 1px solid white;
  padding: 5px;
  margin: 5px;
}

.listenerP {
  padding-right: 5px;
  width: 50px;
}