@import "styling/variables.scss";

.staticBackground {
  background-image: radial-gradient(circle, $main1 0%, $main2 100%);
  background-size: 400%;
  width: 100wh;
  height: 90vh;
}

.animateBackground {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #fefb78);
  background-size: 400% 400%;
  animation: bganimation 120s ease infinite;
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.roomSettingsOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: none;
}

.roomSettingsList {
  position: absolute;
  width: 200px;
  max-height: 300px;
  overflow: auto;
  top: 60px;
  left: -75px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.65);
  padding: 5px;
}

.roomSettingsBtn {
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  margin: 4px 4px;
  outline: 0;
  border: none;
  cursor: pointer;
}

.switchAndLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
