.roomNameForm {
  text-align: center;
  transition: all 0.2s;
}

.roomNameInputFocus {
  text-align: center;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 3px solid #fff;
  font-size: 50px;
  outline: 0;
  margin-bottom: 5px;
  cursor: pointer;
}

.roomNameInputBlur {
  text-align: center;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 50px;
  outline: 0;
  cursor: pointer;
  width: 90%;
  border-bottom: 5px solid #fff;
  margin-bottom: 3px;
}
