.liveStreamTopOuter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 25%;
  margin: 25px;
}

.liveStreamTopInner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
