.liveStreamTopOuter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.liveStreamTopInner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
