.xx {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 25px 0px;
  height: 100px;
}

.liveStreamScreenTopBottom {
  display: flex;
  flex-direction: row;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}
