body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: radial-gradient(circle, rgb(155, 23, 216) 0%, rgb(64, 230, 202) 100%);
	background-size: 300% 300%;
}

.btn {
	cursor: pointer;
}

a {
	text-decoration: none;
}
