$main1: #9b17d8;
$main2: #40e6ca;
$accent: #436ddf;
$accentDark: #174ad6;
$accentDarkest: #0039d6;

$anim1: #a300ff;
$anim2: #59fbd3;
$anim3: #ff4d00;

$anim4: #db5461;
$anim5: #593c8f;
$anim6: #8ef9f3;
