.clearQueueBtn {
    width: 30px;
    height: 30px;
    background-size: 100%;
    margin: 4px 4px;
    outline: 0;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 165px;
    bottom: 55px;
  }