.middleContainer {
  position: relative;
  margin: 25px;
  padding: 0px;
}

.middleImg {
  height: 30vw;
  width: 30vw;
  border: 1px solid white;
  margin: 0px;
  position: relative;
  z-index: 0;
}

.middleGrayBackground {
  width: 99%;
  height: 98.5%;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  margin: 1px;
  padding: 0px;
  background-color: rgba(112, 112, 112, 0.548);
}

.middlePaused {
  height: 20vw;
  width: 20vw;
  position: absolute;
  top: 17%;
  left: 17%;
  z-index: 2;
  margin: 0px;
  padding: 0px;
}

.side {
  height: 20%;
  width: 20%;
  border: 1px solid white;
  margin: 25px;
}

.albumsOuter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
