@import "styling/styles.scss";

.artistsOuter {
  width: 70vw;
  height: 60vh;
}

.outerGrid {
  justify-items: center;
  padding: 10px;
  display: grid;
  height: 600px;
  width: 100%;
  overflow: auto;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.bigBtn {
  font: bold 18px "helvetica neue";
  border-radius: 1em;
  background: $accent;
  color: white;
  padding: 0.7em 1.5em;
  width: 9em;
  outline: 0;
  cursor: pointer;
}

.bigBtnClicked {
  font: bold 18px "helvetica neue";
  border-radius: 1em;
  background: $accentDark;
  color: white;
  padding: 0.7em 1.5em;
  width: 9em;
  outline: 0;
  cursor: pointer;
}

hr {
  height: 2px;
  border: 1px solid white;
  color: white;
  background: white;
}
