.imageWrapper {
    position: relative;
    height: 125px;
    width: 125px;
  }

  .overlayImage {
    position: absolute;
    top: 0;
    left: 0;
  }

  .playImage {
    visibility: hidden;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 75px;
    height: 75px;
    background: url('/play.svg');
    opacity: 0.75;
  }

  .imageWrapper:hover .playImage{
    visibility: visible;
  }